<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data_Status_Calculator.Properties.Settings.dbDSCConnectionString"
            connectionString="Data Source=SQP-KEC1;Initial Catalog=dbDSC;Persist Security Info=True;User ID=dbDSCUser;Password=maun"
            providerName="System.Data.SqlClient" />
        <add name="Data_Status_Calculator.Properties.Settings.ClientdbDSCConnectionString"
            connectionString="Data Source=|DataDirectory|\dbDSC.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>